
@media (min-width: 640px) {
   /* HEADER */
   .header_showcase h1 {
      font-size: 3.2rem;
   }
   .header_showcase p {
      width: 400px;
      font-size: 1.2rem;
      line-height: 1.4;
   }
   .header_showcase a {
      width: 200px;
      font-size: 1.1rem;
      padding: 1rem 0.8rem;
   }  
   
   /* SERVICIOS */
   .services_tag h3 {   
      font-size: 1.2rem;   
   }
   .services_tag p {
      font-size: 1.1rem;
   }

   /* FOOTER */
   .footer_social-items {
      width: 500px;
   }
}

@media (min-width: 768px) {
   .section-title {
      font-size: 1.8rem;
   }
   .fa-facebook,
   .fa-instagram,
   .fa-linkedin,
   .fa-tiktok,
   .fa-twitter {
      font-size: 1.5rem;
   }

   /* HEADER */
   .header_showcase h1 {
      font-size: 3.4rem;
   }
   .header_showcase p {
      width: 500px;
      font-size: 1.2rem;
      margin-top: 2rem;      
   }
   .header_showcase a {
      font-size: 1.2rem;
      margin-top: 2.5rem;
   }

   /* SERVICIOS */   
   .services-container,
   .products-container {
      grid-template-columns: repeat(2, 1fr);
   }
   .services {
      padding-top: 4rem;
      padding-bottom: 4rem;
   }
   .services_tag h3 {   
      font-size: 1.3rem;   
   }
   .services_tag p {
      font-size: 1.2rem;
   }

   /* FOOTER */
   .footer_social-item {
      padding: 0.6rem 0.8rem;
   }
}

@media (min-width: 1024px) {
   .section-title {
      font-size: 2.1rem;
   }

   /* HEADER */
   .header label {
      display: none;
   }
   .header_navigation-container {
      padding-right: 0;
   }
   .header_menu-icon:checked ~ .header_navigation {
      height: 10vh;
      justify-content: space-evenly;
      background-color: transparent;
      position: relative;
      top: 0;
   }
   .header img {
      display: block;
      flex-basis: 25%;
   }
   .header_navigation {
      display: block;
      flex-basis: 75%;
   }
   .header_navigation-items {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
   }   
   .header_navigation-item {
      letter-spacing: 0;
      padding-top: 0;
      padding-bottom: 0;
   }
   .header_showcase h1 {
      font-size: 3.6rem;
   }
   .header_showcase p {
      width: 600px;
      font-size: 1.3rem;
      line-height: 1.4;
      margin-top: 2.5rem;
   }
   .header_showcase a {
      width: 250px;
      font-size: 1.4rem;
   }

   /* SERVICIOS */   
   .services-container {
      grid-template-columns: repeat(3, 1fr);
   }
   .services {
      padding-top: 5rem;
      padding-bottom: 5rem;
   }

   /* CONTÁCTANOS */
   .contact-container {
      display: flex;
      justify-content: space-around;
      align-items: start;
      margin-top: 1rem;
   }
   .contact_work {
      margin-top: 0;
   }
}

@media (min-width: 1280px) {
   .section-title {
      font-size: 2.3rem;
   }

   /* HEADER */
   .header img {
      width: 300px;
   }
   .header_navigation-items {
      font-size: 1.4rem;
   }
   .header_showcase h1 {
      font-size: 3.8rem;
   }
   .header_showcase p {
      width: 650px;
      font-size: 1.4rem;
      line-height: 1.5;
      margin-top: 3rem;
   }
   .header_showcase a {
      width: 250px;
      font-size: 1.4rem;
   }

   /* SERVICIOS */   
   .services-container {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2.5rem;
   }
   .services,
   .products {
      height: 750px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .services_tag {
      width: 200px;
   }
   .services_tag img,
   .products_tag img {
      height: 200px;
   }
   .services_tag h3 {   
      font-size: 1.2rem;   
   }
   .services_tag p {
      font-size: 1.1rem;
   }

   /* PRODUCTS */
   .products-container {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3rem;
   }
   .products_tag {
      width: 250px;
   }
}

@media (min-width: 1536px) {
   /* SERVICIOS */   
   .services-container {
      grid-gap: 3rem;
   }
}